/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lt_hold_pref: lt_hold_pref {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_HOLD_PREF";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        home_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3            &kp N4    &kp N5                                              &kp N6      &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB    &kp Q   &kp W   &kp E             &kp R     &kp T                                               &kp Y       &kp U   &kp I      &kp O    &kp P     &kp EQUAL
&kp ESC    &kp A   &kp S   &kp D             &kp F     &kp G                                               &kp H       &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C             &kp V     &kp B     &kp LBKT                 &kp RBKT         &kp N       &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                           &kp LEFT_CONTROL  &kp LALT  &kp LGUI  &lt_hold_pref 1 SPACE    &lt 2 BACKSPACE  &kp RSHIFT  &none   &none
            >;
        };

        nums_syms {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&kp GRAVE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                                        &kp NUMBER_6  &kp N7     &kp N8           &kp N9    &kp N0    &kp EQUAL
&none      &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PRCNT                                     &kp CARET     &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &none
&kp GRAVE  &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PRCNT                                     &kp CARET     &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp TILDE
&trans     &trans        &trans        &trans        &trans        &trans     &kp LEFT_BRACE    &kp RIGHT_BRACE  &trans        &kp MINUS  &kp KP_PLUS      &kp LBRC  &kp RBRC  &kp PIPE
                                       &trans        &trans        &trans     &trans            &kp ENTER        &trans        &trans     &trans
            >;
        };

        functional {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                   &kp F7       &kp F8     &kp F9     &kp F10   &kp F11    &kp F12
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5                   &kp N6       &kp N7     &kp N8     &kp N9    &kp N0     &none
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                   &none        &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &none
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &none    &none  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
                           &none    &none    &none    &none    &none  &none        &none      &none
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
